body
{
    background-color: white;
    font-size: 125%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
.skip{
    position:absolute;
    left: -1000px;
}
.skip:focus{
    position:relative;
    left:0;
}
h1,h2
{
 padding: 10px;   
}
h1
{
    font-size: 60px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h2
{
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h3
{
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/*Style for images*/
img
{
    width: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    border: dashed rgb(97, 243, 75)

}
img:hover
{
    width: auto;
    background-color: rgb(180, 223, 185);
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    border: dashed rgb(97, 243, 75);

}

nav{
    
    background-color: black;
    padding: 0px 10px;
    overflow: hidden;
}
nav ul{
    display: flex;
    justify-content: space-between;
    /* border: solid silver; */
    /* border-width: 1px 0; */

}
nav ul li{
    
    color: white;
    padding: 20px ;
    margin: inherit;
    background-color: black;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 20px;
}

nav ul li a:active{
    background-color: white;
    color: black;
    text-decoration: underline;
}

nav ul li a:hover{
    color: black;
    /* padding: 20px; */
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
}

nav ul li a.current{
    background-color: white;
    /* padding: 20px; */
    color: black;
    text-decoration: underline;
}
dt{
    font-size: medium;
    font-weight: bold;
}

